---
import CtaButton from './CtaButton.astro';

const featureDetailCtaData = {
  highlight: 'Join the network',
  heading: 'Run an Algorand node',
  description:
    'Join the Algorand network with a validator node using accessible commodity hardware in a matter of minutes. Experience how easy it is to become a node-runner so you can participate in staking rewards, validate blocks, submit transactions, and read chain data.',
  cta: {
    label: 'Install your node',
    url: '/nodes/overview/',
  },
};
---

<section class='feature-detail-cta my-10! lg:my-[140px]!'>
  <div
    class:list={[
      'max-w-(--breakpoint-home-container) lg:flex md:justify-between md:items-center text-algo-navy dark:text-white',
      'mx-auto! px-5 md:px-9 lg:gap-x-[42px] xl:gap-x-20 text-center md:text-left',
    ]}
  >
    <div class='lg:min-w-[483px] xl:min-w-[565px]'>
      <div class='font-bold lg:text-2xl lg:leading-none'>
        {featureDetailCtaData.highlight}
      </div>
      <h2
        class='text-algo-navy! dark:text-white! lg:text-4xl! xl:text-[42px]! mt-[10px]! leading-none!'
      >
        {featureDetailCtaData.heading}
      </h2>
      <div class='mt-9'>
        <CtaButton
          label={featureDetailCtaData.cta.label}
          url={featureDetailCtaData.cta.url}
        />
      </div>
    </div>
    <p
      class='lg:max-w-[580px] xl:max-w-[622px] font-sans lg:mt-[18px] lg:text-[18px] xl:text-[20px] lg:leading-[1.5] mt-0!'
    >
      {featureDetailCtaData.description}
    </p>
  </div>
</section>
