---
import LaptopLightClip from '@assets/videos/laptop-light-1x1.mp4';
import LaptopDarkClip from '@assets/videos/laptop-dark-1x1.mp4';
import CtaButton from './CtaButton.astro';

const heroData = {
  heading: 'Unleash the power of Algorand',
  description:
    'Find everything you need to build applications powered by the Algorand blockchain in this developer portal.',
  cta: {
    label: 'Read the docs',
    url: 'getting-started/introduction',
  },
};
---

<section
  class='homepage-hero bg-white dark:bg-algo-navy my-8! lg:my-[80px]! w-full min-h-[24rem]! lg:min-h-[38.5rem]!]'
>
  <div
    class='max-w-(--breakpoint-home-container) lg:flex lg:flex-row-reverse lg:items-center mx-auto! px-5 md:px-9'
  >
    <div>
      <video muted autoplay loop class='dark:hidden mt-0! w-full h-auto'>
        <source src={LaptopLightClip} type='video/mp4' />
      </video>
      <video
        muted
        autoplay
        loop
        class='hidden! dark:block! mt-0! w-full h-auto'
      >
        <source src={LaptopDarkClip} type='video/mp4' />
      </video>
    </div>
    <div class='mt-0! max-lg:mt-2! text-center lg:text-left'>
      <h1
        class='font-bold text-5xl lg:text-[88px]! xl:text-[115px]! lg:min-w-[430px] text-algo-navy! dark:text-white!'
      >
        {heroData.heading}
      </h1>
      <p
        class='text-algo-navy dark:text-white lg:text-[21px] xl:text-[25px] lg:leading-none lg:max-w-[510px] mt-4! lg:mt-[50px]!'
      >
        {heroData.description}
      </p>
      <CtaButton
        label={heroData.cta.label}
        url={heroData.cta.url}
        classList='mt-4! lg:mt-[45px]!'
      />
    </div>
  </div>
</section>
