---
interface Arc {
  arc: string;
  title: string;
  description: string;
  sidebar: {
    label: string;
  };
}

interface Props {
  title: string; // Title of the section (e.g., "Living Arcs")
  data: Arc[]; // Array of ARC data
}

const { title, data } = Astro.props as Props;
---

<section>
  <h2>{title}</h2>
  <table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {
        data.map(arc => (
          <tr>
            <td>
              <a
                href={`/standards/arcs/${arc.sidebar.label}`}
                style='display: block; text-decoration: none; color: inherit;'
              >
                {arc.arc}
              </a>
            </td>
            <td>
              <a
                href={`/standards/arcs/${arc.sidebar.label}`}
                style='display: block; text-decoration: none; color: inherit;'
              >
                {arc.title}
              </a>
            </td>
            <td>
              <a
                href={`/standards/arcs/${arc.sidebar.label}`}
                style='display: block; text-decoration: none; color: inherit;'
              >
                {arc.description}
              </a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</section>
