---
// RemoteCode.astro is a custom component that fetches a code file from a remote URL
// and displays it using the native Astro `Code` component.
import { Code, LinkButton } from '@astrojs/starlight/components';
import { getSelectedCode } from './RemoteCode';

const { src, snippet, lang, title, mark, frame } = Astro.props;
const codeResult = await getSelectedCode(src, snippet);
const githubUrl = `${codeResult.githubUrl}#L${codeResult.line}`;
---

<div class='flex justify-end'>
  <LinkButton
    href={githubUrl}
    variant='minimal'
    icon='github'
    iconPlacement='start'
    style='margin-block: 0px; padding:0px'
    target='_blank'
    rel='noopener noreferrer'
  >
    Source
  </LinkButton>
</div>
<Code
  code={codeResult.content}
  lang={lang}
  title={title}
  frame={frame}
  mark={mark}
/>
